html,
body{
  height: 100%;
}
body{
  color: $default;
  @extend %dmsans-500;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
  transition: all .3s linear 0s;
}